<div class="h-screen overflow-auto snap-y snap-mandatory">
  <section class="flex justify-center items-center h-full snap-start bg-emerald-900">
    <h1 class="text-white text-center font-serif">
      <app-landing-page></app-landing-page>
    </h1>
  </section>
  <section class="flex justify-center items-center h-full snap-start bg-emerald-800">
    <h1 class="text-white text-center">Section 2</h1>
  </section>
  <section class="flex justify-center items-center h-full snap-start bg-emerald-700">
    <h1 class="text-white text-center">Section 3</h1>
  </section>
</div>